{
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "quotes": ["error", "double"],
    "react/forbid-prop-types": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  }
}
